* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100vh;
    background-color: black;
}

#back {
    width: 100%;
    height: 100vh;
    background-color: black;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#workingArea {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0;
}

#nav img {
    height: 50px;
}

#nleft,
#nright {
    display: flex;
    align-items: center;
    gap: 45px;
}

#nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    font-family: 'gilroy';
}

#hero {
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#heroleft {
    width: 50%;
}

#heroleft .elem {
    overflow: hidden;
    height: 8vw;
}

#heroleft .elem h1 {
    line-height: .9;
    font-family: 'kajiro';
    color: white;
    font-weight: 100;
    font-size: 10vw;

}

#heroleft button {
    padding: .8vw 3vw;
    font-size: 3vw;
    margin-top: 2vw;
    font-family: 'kajiro';
}

#heroright {
    width: 25%;
    background-color: yellow;
}